<launch>


  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro '$(find mobile_robot2_description)/urdf/mobile_robot2.xacro'" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
<!--     <arg name="world_name" value="$(find mobile_robot2_gazebo)/worlds/mobile_robot2.world"/> -->
    <arg name="world_name"  default="$(find mobile_robot2_gazebo)/worlds/labyrinthe6.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
	args="-urdf  -Y -1.57 -x 0 -y 0  -model mobile_robot2 -param robot_description "/>

  <!-- ros_control mobile_robot2 launch file -->
  <include file="$(find mobile_robot2_control)/launch/mobile_robot2_control.launch" /> 

</launch>
