<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mobile_robot2_control)/config/mobile_robot2_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mobile_robot2" args="joint_state_controller
					  rightWheel_effort_controller
					  leftWheel_effort_controller
                      sonar_joint_position_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mobile_robot2_description)/urdf/mobile_robot2.xacro'" />
    <remap from="/joint_states" to="/mobile_robot2/joint_states" />
  </node>

</launch>
